%h1 Check out our products!

.row.product-list
  #products
    - @products.each do |product|
      %article.product
        %h2= product.name
        %p= product.description
        %strong
          = product.price
          = product.currency

          = link_to 'Show more',
            product_path(id: product.id, currency: product.currency, price: product.price)
