%article.product
  %h1= @product.name

  %p= @product.description

  %strong
    = @product.price
    EUR

  = link_to 'Shut up and take my money!', '#'

= link_to 'Back to product list', products_path
